<html>
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TATA</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
   
</head>
<body>
    <center>
        <h3>Register Account:</h3>
 
        <div class="form" >
            <form action="/register" method="post">
                <div class="row">
                    <div class="col">
                        <label for="f_name">username:</label>
                        <input name="username" class="form-control" type="text" id="f_name" >
                    </div>
                    <div class="col">
                        <label for="f_name">name:</label>
                        <input name="name" class="form-control" type="text" id="f_name" >
                    </div>
                    <div class="col">
                        <label for="l_name">Create  password:</label>
                        <input name="password" class="form-control" type="password" id="l_name" >
                    </div>
                    
                   
                </div>
                <button class="btn" type="submit">Create Account</button>

                <a id="btn" href="/login">login Account</a>
            </form>
        </div>
</body>
</html>